.tool-options-list {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.tool-options-list .tool-option {
	width: 30px;
	height: 30px;
	border-radius: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 11px;
	cursor: pointer;
	transition: all 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tool-option .option {
	width: 100%;
	height: 100%;
	background-color: #000;
	border-radius: 100%;
	transition: all 0.3s;
}

.tool-option:hover .option,
.tool-option.selected .option {
	transform: scale(0.8);
}

.tool-option:hover {
	border: 1px solid rgba(0, 0, 0, 0.3);
}
